@import 'index.scss';

$margin-bottom: 5em;

.page-info {
    .nav.back {
        margin-top: 1em;
        margin-bottom: $margin-bottom+1em;
    }

    .row {
        span {
            width: 100%;
            display: inline-block;
            //color: $text-900;
        }

        span.text {
            color: $text-500;
            margin-bottom: 0.5rem;
        }

        span.text-header {
            margin-bottom: 1rem;
        }

        .block-end {
            margin-bottom: $margin-bottom;
        }
    }
}