@import '~include-media/dist/_include-media';

$breakpoints: (phone: 600px, tablet: 900px, desktop: 992);

$fl-1: #DF4F1A;
$fl-2: #FEAB2B;

$bg-100: #110e0b;
$bg-200: #292018;
$bg-400: #563c29;
$bg-600: #834e2f;

$bg-1: #f6d365;
$bg-2: #fda085;

//$text-500: #c8cfe6;
$text-500: #e6d7c8;
$text-900: #fff;

$fs-title: 3em;
$fs-subtitle: 1.4rem;
$fs-header: 2rem;
$fs-body: 16px;
$fs-btn-small: 13px;

::selection {
  background: $bg-2;
}

body {
  margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //  sans-serif;
  line-height: 1.5;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-100;
  color: $text-500;
  font-size: $fs-body;
}

.flex-center {
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.valign-wrapper {
  display: flex;
  align-items: center;
}

.sep {
  display: inline-block;
  height: 1.5rem;
  width: 1px;
  background-color: #6b7187;
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn, .btn-large, .btn-small {
  text-transform: none;
}

.btn-clear, .btn-clear:focus {
  background: none;
}

.btn-clear {
  box-shadow: none;
  transition: all .2s ease;
  color: $text-500;
  border-radius: 999rem;
}

.btn-clear:hover {
  box-shadow: none;
  background: rgba(107,113,135,.3);
  transform: none;
}

span.text-header {
  font-size: $fs-header;
  font-weight: 600;
  line-height: 1.2;
}

span.text-small {
  color: $text-900;
  font-size: $fs-btn-small;
}